body{
   background-image: url('../images/bg.png');
   height: 100vh;
   background-position: center;
   background-size: cover;
}

nav{
    display: flex;
    height: 20vh;
}
.icon{
    display: none;
}
nav .unorderlist{
    display: flex ;
    flex: 3;
    list-style: none;
    align-items:center;
    justify-content:space-around;
    color: white;


}
.navlogo{
    flex: 1;
    margin: 0 5px;
    
}

.buttom{
        border-radius: 20px;
        padding:2px 20px;
        background-color: rgb(221, 126, 221);
        color: white;
        border-color:none;
}

section{
    display: flex;
}

.left{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin: 0 auto;
    

}
.quaility{
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}
.companyh1{
    color: white;
    font-size: 50px;
    margin-top: 7px;
}
.right{
    overflow:visible;
    height: 80vh;
    display: flex;
    align-self:flex-end;
    flex-direction: row-reverse; 
    right: 0%;
    bottom: 0%;
   
}

@media screen and (max-width:800px){
    .right{
        height: 50vh;
    }
    .playlogo{
        height: 30px;
    }
    .companyh1{
        font-size: 30px;
    }
    .quaility{
        font-size: 15px;
    }
    .orderlist{
        display: none;
    }
    .icon{
        display: inline;
    }
}